{% extends "templates/app.twig" %}

{% block content %}

<div class="signup">
  <h2>Change Password</h2>
  <form action="{{path_for('changepassword')}}" method="post">

    <div class="input-container">
        <label for="password_old">Current Password : </label><input type="password" name="password_old" class="{{ errors.password_old ? 'error-input': ''}}" value="" placeholder="Current Password">
    </div>
    {% if errors.password_old %}
    <div class="error-messages">
      <small>{{ errors.password_old | first }}</small>
    </div>
    {% endif %}
    <div class="input-container">
        <label for="password_new">New Password : </label><input type="password" name="password_new" class="{{ errors.password_new ? 'error-input': ''}}" value="" placeholder="New Password">
    </div>
    {% if errors.password_new %}
    <div class="error-messages">
      <small>{{ errors.password_new | first }}</small>
    </div>
    {% endif %}

    <div class="form-button">
      <button type="submit">Change Password</button>
    </div>

    {{ csrf.field | raw }}
  </form>
</div>

{% endblock %}
