{% extends "templates/app.twig" %}

{% block content %}

<section class="light-slider-outer">
  {% for videos in arr %}
    <div>
      <ul class="light-slider">
         {% for video in videos %}
           <li>
             <figure>
               <a href="{{ base_url() }}/video/{{video.id}}" style="background-image: url('{{ video.thumbnail }}')">
                 <div class="background">
                   <span><i class="far fa-play-circle"></i></span>
                   <p>{{ video.length}}</p>
                 </div>
               </a>
             </figure>
             <div>
               <h4>{{ video.title }}</h4>
               <p>Published : {{ video.created_at }}</p>
               <p>{{video.views}} Views</p>
             </div>
           </li>
         {% endfor %}
       </ul>
     </div>
    {% endfor %}
  </section>
{% endblock %}
