{% extends "templates/app.twig" %}

{% block content %}

<div class="signup">
  <h2>Register with OOPCoders</h2>
  <form action="{{path_for('signup')}}" method="post">
    <div class="input-container">
      <label for="email">Email : </label><input type="email" value="" name="email" id="email" class="{{ errors.email ? 'error-input': ''}}" placeholder="Enter valid email">
    </div>
    {% if errors.email %}
    <div class="error-messages">
      <small>{{ errors.email | first }}</small>
    </div>
    {% endif %}
    <div class="input-container">
      <label for="name">Name : </label><input type="text" name="name" id="name" value="" class="{{ errors.name ? 'error-input': ''}}" placeholder="Full Name">
    </div>
    {% if errors.name %}
    <div class="error-messages">
      <small>{{ errors.name | first }}</small>
    </div>
    {% endif %}
    <div class="input-container">
        <label for="password">Password : </label><input type="password" name="password" id="password" class="{{ errors.password ? 'error-input': ''}}" value="" placeholder="Password">
    </div>
    {% if errors.password %}
    <div class="error-messages">
      <small>{{ errors.password | first }}</small>
    </div>
    {% endif %}
    <div class="register-button">
      <button type="submit">Register</button>
    </div>
  </form>
</div>

{% endblock %}
