{% extends "templates/app.twig" %}

{% block content %}
  <div class="display-outer">
    <section class="video-container">
         <header>
           <h2>{{playing.title}}</h2>
           <p>Published : {{playing.created_at}} - - {{playing.views}} Views</p>
           <div class="video-icons">
             <a href="#"><i class="fab fa-github-alt"></i></a>
             <a href="#"><i class="fab fa-youtube"></i></a>
           </div>
         </header>
         <div class="video-outer">
           <video width="100%" controls >
             <source src="{{ base_url() }}/{{playing.video}}" type="video/mp4">
             Your browser does not support the video tag.
            </video>
         </div>
    </section>
    <section class="vertical-light-slider-outer">
      <div>
        <ul class="vertical-light-slider">
          {% for cat in slider_cat %}
          <li>
            <figure>
              <a href="{{ base_url() }}/video/{{cat.id}}/{{cat.category_id}}" style="background-image: url('{{ base_url() }}/{{cat.thumbnail}}')">
                <div class="background-vertical">
                  <span><i class="far fa-play-circle"></i></span>
                  <p>{{cat.length}}</p>
                </div>
              </a>
            </figure>
            <div class="content">
              <h4>{{cat.title}}</h4>
              <div>
                <p>Published : {{cat.created_at}}</p>
                <p>{{cat.views}} Views</p>
              </div>
            </div>
          </li>
          {% endfor %}
          <li id="filler"></li>
        </ul>
      </div>
    </section>
  </div>
  <section class="description-outer">
    <div class="description-box">
        <h3>DESCRIPTION</h3>
        <p>{{playing.description}}</p>
        <p>t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
    </div>
    <div class="reference-links-box">
        <h3>HELPFUL REFERENCES</h3>
    </div>
  </section>
  <section class="comment-outer">
    <div class="comment">
      <h3>COMMENT</h3>
      <form class="" action="index.html" method="post">
        <textarea name="name" rows="8" cols="80" placeholder="Add a comment..."></textarea>
        <input type="button" name="comment" value="Post Comment">
      </form>
    </div>
    <div class="comment">
        <h3>
              {{ comments|length }} COMMENTS

        </h3>
      <ul>
        {% for comment in comments %}
          <li>
             <h5>{{ comment.comment.username }}</h5>
             <span>{{ comment.comment.created_at|date("m/d/Y") }}</span>
             <p>{{ comment.comment.comment }}</p>
               <ul>
                 {% for sub in comment.subComment %}
                   <li>
                     <h5>{{sub.username}}</h5>
                     <span>{{ sub.created_at }}</span>
                      <p>{{ sub.comment }}</p>
                   </li>
                {% endfor %}
               </ul>
          </li>
        {% endfor %}
     </ul>
    </div>
  </section>

{% endblock %}
