{% extends "templates/app.twig" %}

{% block content %}
  <div class="display-outer">
    <section class="video-container">
         <header>
           <h2>{{playing.title}}</h2>
           <p>Published : {{playing.created_at}} - - {{playing.views}} Views</p>
           <div class="video-icons">
             <a href="#"><i class="fab fa-github-alt"></i></a>
             <a href="#"><i class="fab fa-youtube"></i></a>
           </div>
         </header>
         <div class="video-outer">
           <video width="100%" controls >
             <source src="{{ base_url() }}/{{playing.video}}" type="video/mp4">
             Your browser does not support the video tag.
            </video>
         </div>
    </section>
    <section class="vertical-light-slider-outer">
      <div>
        <ul class="vertical-light-slider">
          {% for cat in slider_cat %}
          <li>
            <figure>
              <a href="{{ base_url() }}/video/{{cat.id}}/{{cat.category_id}}" style="background-image: url('{{ base_url() }}/{{cat.thumbnail}}')">
                <div class="background-vertical">
                  <span><i class="far fa-play-circle"></i></span>
                  <p>{{cat.length}}</p>
                </div>
              </a>
            </figure>
            <div class="content">
              <h4>{{cat.title}}</h4>
              <div>
                <p>Published : {{cat.created_at}}</p>
                <p>{{cat.views}} Views</p>
              </div>
            </div>
          </li>
          {% endfor %}
          <li id="filler"></li>
        </ul>
      </div>
    </section>
  </div>


{% endblock %}
