{% extends "templates/app.twig" %}

{% block content %}
  <div class="display-outer">
    <section class="video-container">
         <header>
           <h2>{{playing.title}}</h2>
           <p>Published : {{playing.created_at}} - - {{playing.views}} Views</p>
           <div class="video-icons">
             <a href="https://github.com/mike1477" target="_blank"><i class="fab fa-github-alt"></i></a>
             <a href="https://www.youtube.com/channel/UCqtKLBlLNC2Qn-ZfRPaFRZQ" target="_blank"><i class="fab fa-youtube"></i></a>
           </div>
         </header>
         <div class="video-outer">
           <video width="100%" controls >
             <source src="{{ base_url() }}/{{playing.video}}" type="video/mp4">
             Your browser does not support the video tag.
            </video>
         </div>
    </section>
    <section class="vertical-light-slider-outer">
      <div>
        <ul class="vertical-light-slider">
          {% for cat in slider_cat %}
          <li>
            <figure>
              <a href="{{ base_url() }}/video/{{cat.id}}/{{cat.category_id}}" style="background-image: url('{{ base_url() }}/{{cat.thumbnail}}')">
                <div class="background-vertical">
                  <span><i class="far fa-play-circle"></i></span>
                  <p>{{cat.length}}</p>
                </div>
              </a>
            </figure>
            <div class="content">
              <h4>{{cat.title}}</h4>
              <div>
                <p>Published : {{cat.created_at}}</p>
                <p>{{cat.views}} Views</p>
              </div>
            </div>
          </li>
          {% endfor %}
          <li id="filler"></li>
        </ul>
      </div>
    </section>
  </div>
  <section class="description-outer">
    <div class="description-box">
        <h3>DESCRIPTION</h3>
        <p>{{playing.description}}</p>
        <div class="helpful-links" >
          {% for link in links %}
           <p>
             <a href="{{ link.address }}" target="_blank">{{link.name}}</a>
           </p>
          {% endfor %}
        </div>
    </div>
  </section>
  <section class="comment-outer">
    <div class="comment">
      <h3>COMMENT</h3>
      <form class="post-comment" action="{{ base_url() }}/video/{{playing.id}}/{{playing.category_id}}" method="post">
        {% if logged %}
        <textarea name="post_textarea" rows="8" cols="80" placeholder="Add a comment..."></textarea>
        <input type="submit" name="comment" value="Post Comment">
        {% else %}
        <p>Please sign in to leave comment.</p>
        <textarea name="post_textarea" rows="8" cols="80" placeholder="Please sign in to post comment."></textarea>
        <input type="submit" class="disabled" name="comment" value="Post Comment" disabled>
        {% endif %}

        {{ csrf.field | raw }}
      </form>
    </div>
    <div class="comment" id="comment">
        <h3>
              {{ comments|length }} COMMENTS

        </h3>
      <ul>
        {% for comment in comments %}
          <li>
             <h5>{{ comment.comment.username }}</h5>
             <small>{{ comment.comment.created_at|date("m/d/Y") }}</small>
             <p>{{ comment.comment.comment }}</p>
             <div class="reply-link">
               <span>Reply</span>
               <div class="reply-form" style="height:0px; opacity:0">
                 <form class="post-comment" action="{{ base_url() }}/reply/{{playing.id}}/{{playing.category_id}}/{{comment.comment.id}}" method="post">
                   {% if logged %}
                   <textarea name="post_textarea" rows="8" cols="80" placeholder="Add a comment..."></textarea>
                   <input type="submit" name="comment" value="Post Comment">
                   {% else %}
                   <p>Please sign in to leave comment.</p>
                   <textarea name="post_textarea" rows="8" cols="80" placeholder="Please sign in to post comment."></textarea>
                   <input type="submit" class="disabled" name="comment" value="Post Comment" disabled>
                   {% endif %}

                   {{ csrf.field | raw }}
                 </form>
               </div>
             </div>
               <ul>
                 {% for sub in comment.subComment %}
                   <li>
                     <h5>{{sub.username}}</h5>
                     <small>{{ sub.created_at }}</small>
                      <p>{{ sub.comment }}</p>
                   </li>
                {% endfor %}
               </ul>
          </li>
        {% endfor %}
     </ul>
    </div>
  </section>

{% endblock %}
